@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: sohne;
  src: url(/fonts/Sohne.woff2) format("woff2");
  font-weight: 1 10000;
  font-display:block;
}

@font-face {
  font-family: sohne;
  src: url(/fonts/Sohne-BuchKursiv.woff2) format("woff2");
  font-weight: 400;
  font-style: italic;
  font-display:block;
}

@font-face {
  font-family: sohne-mono;
  src: url(/fonts/SohneMono-Buch.woff2) format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display:swap;
}

@font-face {
  font-family: pix;
  src: url(/fonts/dogicapixel.woff2) format("woff2");
}


@layer base {
  html, input {
    @apply bg-black text-white;
  }

  ;

  input {
    @apply outline-none;
  }

  html, body, #__nuxt {
    @apply h-full w-full;
  }

  ::selection {
    @apply bg-sky bg-opacity-65 text-black;
  }
}

@layer utilities {
  .vert-center {
    @apply flex items-center;
  }
}