@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "trebuchet";
  src: url("/fonts/TrebuchetMS.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: sohne-mono;
  src: url(/fonts/SohneMono-Buch.woff2) format("woff2");
  font-style: normal;
  font-display:swap;
}


@layer base {
  html {
    font-family: "Trebuchet MS Custom", sans-serif;
    background-image: url('https://www.transparenttextures.com/patterns/dark-mosaic.png');
    background-color: #000;
    color: #FBFBFB;
    overscroll-behavior: none;
  }

  html, body, #__nuxt {
    @apply h-full w-full;
  }

  ::selection {
    @apply bg-sky text-black;
  }

  h1, h2, h3, h4, h5, h6 {
    @apply scroll-mt-20;
  }

  h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    @apply !no-underline hover:!underline;
  }
}

@layer utilities {
  .vert-center {
    @apply flex items-center;
  }

  .button-sky {
    @apply py-1 px-2 bg-sky bg-opacity-20 text-sky hover:bg-opacity-100 hover:text-black transition-all duration-200;
  }
  .button-sky-active {
    @apply py-1 px-2 bg-sky bg-opacity-100 text-black transition-all duration-200;
  }

  .button-coral {
    @apply py-1 px-2 bg-coral bg-opacity-20 text-coral hover:bg-opacity-100 hover:text-black;
  }

  .icon-button-sky {
    @apply flex items-center justify-center py-1 px-1 bg-sky bg-opacity-20 text-sky hover:bg-opacity-100 hover:text-black;
  }

  .icon-button-coral {
    @apply flex items-center justify-center py-1 px-1 bg-coral bg-opacity-20 text-coral hover:bg-opacity-100 hover:text-black;
  }

  .type-badge {
    @apply border border-white/50 py-0.5 px-1 uppercase text-white/80;
  }
}